#tentang {
    background-color: #ECECEC;
    color: #439297;
}

.banner {
    width: 50%;
}

.main-content{
    min-height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    gap: 20px;
}

.container-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
    gap: 90px;
    justify-items: start;
}

.deskripsi-content {
    display: grid;
    justify-content: top;
}

.baca-deskripsi {
    padding: 7px;
    border-radius: 15px;
    background-color: white;
    color: #439297;
}

@media screen and (max-width: 768px) {
    .banner {
        width: 100%;
    }

    .container-content{
        display: inline;
        align-items: center;
        justify-items: start;
    }
}