#tentang {
    color: #439297;
}

.divider {
    margin-top: 10px;
    width: 10%;
    border : 1px solid #439297;
}

.banner {
    width: 50%;
}

.main-content{
    min-height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    gap: 20px;
}

.container-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
    gap: 90px;
    justify-items: start;
}

.deskripsi-content {
    display: grid;
    justify-content: top;
}