#berita {
    background-color: #ECECEC;
    color: #439297;
}

.container-berita {
    display: flex;
	justify-content: center;
	align-items: start;
}

.berita-utama {
    width: 50%;
    padding: 25px;
    text-wrap: balance;
}

.list-berita{
    margin-top: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gambar-berita{
    width: 100%;
}

.content-berita{
    display: flex;
    gap: 10px;
}

.gambar-berita-list{
    width: 30%;
    text-wrap: balance;
}

.title-berita {
    text-wrap: balance;
}

.baca-berita {
    padding: 7px;
    border-radius: 15px;
    background-color: white;
    color: #439297;
}

.baca-berita:hover {
    background-color: #439297;
    color:white;
}

@media screen and (max-width: 768px) {
    .container-berita {
        display: grid;
    }

    .berita-utama {
        width: auto;
        padding: 25px;
        text-wrap: balance;
    }

    .list-berita{
        padding: 20px;
        margin-top: 30px;
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}